h1,
h3 {
  padding: 0em;
  margin: 0px;
}
html {
  background-color: rgb(18, 18, 105);
  color: white;

  font-family: "Roboto", sans-serif;
}
main {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style-type: none;
}
nav > ul {
  display: flex;
  justify-content: space-between;

  padding: 0px;
  justify-content: center;
}
hr {
  background-color: rgb(78, 78, 78);
  margin: 30px;

  border-color: rgb(78, 78, 78);
}
nav > ul > li {
  padding: 10px;
  font-size: 150%;

  vertical-align: middle;
  display: flex;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
}
.navIcon {
  margin-left: auto;
  font-size: 300%;
}
.heads {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  flex-wrap: wrap;

  justify-content: space-evenly;
  min-height: 30vh;
}
.heads > * {
  text-align: center;
  font-size: 250%;
}
.nameHead {
  font-weight: bolder;
  color: rgb(108, 108, 247);
  font-size: 350%;
}
.sideGradient {
  width: 150px;
  height: 150px;
  background: whitesmoke;
  position: absolute;
  border-radius: 50%;
  filter: blur(40px);
  left: -75px;
}
.mainTextSection {
  display: flex;
  justify-content: center;
}
.mainText {
  font-size: 150%;
  text-align: center;
  color: rgb(175, 175, 175);
}
